@font-face{
	src: url('../fonts/ConcertOne-Regular.ttf') format('truetype');
	font-family:'concert' ;/*font family: cursive*/
}
@font-face{
	src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
	font-family:'noto-regular' ;
}
@font-face{
	src: url('../fonts/NotoSans-Medium.ttf') format('truetype');
	font-family:'noto-medium' ;
}
@font-face{
	src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
	font-family:'oswald' ;
}
@font-face {
	font-family: 'More Sugar Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/MoreSugar-8MnBn.woff') format('woff');
}


@font-face {
	font-family: 'More Sugar Extras';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/MoreSugarExtras-RpO8E.woff') format('woff');
}


@font-face {
	font-family: 'More Sugar Thin';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/MoreSugarThin-rgEwB.woff') format('woff');
}
@font-face{
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-family:'poppins-regular' ;
}

@font-face{
	src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
	font-family: 'DelaGothic';
}